<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- The data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:db/timetableservice" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<!-- The session factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="de.nordakademie.timetableservice.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>

	<!-- The transaction manager -->
	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- The advice -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>

	<!-- The pointcut definition -->
	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* de.nordakademie.timetableservice.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<!-- DAOs -->
	<bean id="lecturerDAO" class="de.nordakademie.timetableservice.dao.LecturerDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="centuryDAO" class="de.nordakademie.timetableservice.dao.CenturyDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="cohortDAO" class="de.nordakademie.timetableservice.dao.CohortDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="roomDAO" class="de.nordakademie.timetableservice.dao.RoomDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="eventDAO" class="de.nordakademie.timetableservice.dao.EventDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- Services -->
	<bean id="lecturerService"
		class="de.nordakademie.timetableservice.service.impl.LecturerServiceImpl">
		<property name="lecturerDAO" ref="lecturerDAO" />
	</bean>
	<bean id="centuryService"
		class="de.nordakademie.timetableservice.service.impl.CenturyServiceImpl">
		<property name="centuryDAO" ref="centuryDAO" />
		<property name="cohortService" ref="cohortService" />
	</bean>
	<bean id="cohortService"
		class="de.nordakademie.timetableservice.service.impl.CohortServiceImpl">
		<property name="cohortDAO" ref="cohortDAO" />
	</bean>
	<bean id="roomService"
		class="de.nordakademie.timetableservice.service.impl.RoomServiceImpl">
		<property name="roomDAO" ref="roomDAO" />
	</bean>
	<bean id="eventService"
		class="de.nordakademie.timetableservice.service.impl.EventServiceImpl">
		<property name="eventDAO" ref="eventDAO" />
		<property name="centuryService" ref="centuryService" />
		<property name="lecturerService" ref="lecturerService" />
		<property name="roomService" ref="roomService" />
	</bean>
	<bean id="collisionService"
		class="de.nordakademie.timetableservice.service.impl.CollisionServiceImpl">
		<property name="centuryDAO" ref="centuryDAO" />
		<property name="roomDAO" ref="roomDAO" />
		<property name="lecturerDAO" ref="lecturerDAO" />
		<property name="eventDAO" ref="eventDAO" />
	</bean>
	
</beans>